
{{#each burgers}}
{{#unless devoured}}
<div>{{burger_name}}</div>
<button data-id="{{id}}" class="devourButton">Devour</button>
{{/unless}}
{{/each}}

<h1>Devoured</h1>
{{#each burgers}}
{{#if devoured}}
<div>{{burger_name}}</div>
{{/if}}
{{/each}}